<h3>
    You have successfully Registered this Reservation. As son as the Copy of
    ...
    you requested is available for renting you will got a notification.
    You can now use either your local user account or an external account
    to login to view the Details.
</h3>