<h3>
    You have successfully Registered this Rent. You can now use either
    your local user account or an external account to view the Details
    Expiration Day is
    Delay Fee is   ....     for the first 5 Days
    Please note that this amont will be incremented by ... per day for each 
    day of delay
</h3>