@*@inject SignInManager<IdentityUser> signInManager;*@
@inject SignInManager<ApplicationUser> signInManager;

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Developement">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validation/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    </environment>
    <environment exclude="Developement">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anomymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">

        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validation/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewData["Title"] - WebLibApp</title>
    
</head>
<body>
    <!--<header>-->
    <div class="container">
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">-->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            @*border-bottom box-shadow mb-3*@
            <a class="navbar-brand" asp-action="index" asp-controller="home">
                <img src="~/images/biblio.jpg" height="30" width="30" />  WebLibApp
            </a>
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>*@

            @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">*@


            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" flex-grow-1>
                    <li class="nav-item">
                        <!--  <a asp-action="index" class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>-->
                        <a asp-action="Index" asp-controller="home" class="nav-link ">List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Create" asp-controller="home" class="nav-link ">Create</a>
                    </li>

                    <li class="nav-item">
                        <a asp-action="Privacy" asp-controller="home" class="nav-link ">Privacy</a>
                        @*<a class="nav-link " asp-area="" asp-page="/Privacy">Privacy</a>*@
                    </li>

                    @if (signInManager.IsSignedIn(User) && (User.IsInRole("SuperUser") || User.IsInRole("Admin")))
                    {

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Administration"
                                   asp-action="ListUsers">Users</a>
                                <a class="dropdown-item" asp-controller="Administration"
                                   asp-action="ListRoles">Roles</a>
                                <a class="dropdown-item" asp-controller="Account"
                                   asp-action="ChangePassword">Password</a>
                            </div>
                        </li>

                    }
                </ul>

                <ul class="navbar-nav ml-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-action="logout" asp-controller="account">
                                <button type="submit" class="nav-link btn btn-link py-0"
                                        style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>

                    }
                    else
                    {

                        <li class="nav-item">
                            <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="login" asp-controller="account" class="nav-link">Login</a>
                        </li>

                    }

                </ul>
            </div>
        </nav>

        <!--</header>-->
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - WebLibApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        @RenderSection("Scripts", required: false)
        @*@RenderSection("~/lib/jquery-validation/jquery.validate.js")*@
    </div>
</body>
</html>